/* ctrl+alt+좌우방향키 */
@charset "utf-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
li {
    list-style: none;
}

img {
    width: 100%;
    vertical-align: top;
}

li {
    list-style: none;
}

